@font-face {
    font-family: cotta;
    src: url("/fonts/cotta-free.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

* {
    font-family: 'Cotta',cotta,'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    margin:0;
    background-color: #FCC384;
}

li {
    list-style-type: none;
    margin: 10px;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    background-color: black;
    padding: 10px;
}

.rightNav {
    display: flex;
    align-items: center;
}

.rightNav > * {
    color:white;
    margin:0px 20px;
}

.carousel {
    width: 100%;
    min-height: 100vh;
    /*background: url('../assets/bg004.svg');*/
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    place-content: center;
    place-items: center;
    padding: 80px;
}